/* purgecss start ignore */
.theme-reason {
  --color-text-primary-dark: theme('colors.fire.default');
  --color-text-primary: theme('colors.fire.default');
  --color-text-primary-light: theme('colors.fire.40');
}

.theme-js {
  --color-text-primary-dark: theme('colors.berry.default'); 
  --color-text-primary: theme('colors.berry.default'); 
  --color-text-primary-light: theme('colors.berry.default');
  --color-text-primary-5: theme('colors.berry.5');
}
/* purgecss end ignore */
